* {
    padding: 0;
    margin: 0;
}

html {
    background: rgb(070, 070, 070);
}

@font-face {
    font-family: 'BlackHanSans';
    src: url(./media/BlackHanSans.ttf) format('truetype');
}

@font-face {
    font-family: 'SDS';
    src: url(./media/SDSwagger.otf) format('truetype');
}

@font-face {
    font-family: 'SCD8';
    src: url(./media/SCDream8.otf) format('truetype');
}

nav {
    height: 80px;
    position: sticky;
    top: 0;
    background-color: black;
    color: rgb(235, 235, 235);
    display: grid;
    grid-template-columns: auto 9fr auto auto;
    grid-template-areas:
        "a b c d";
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

nav h1 {
    grid-area: b;
    margin: auto;
    margin-left: 0;
    text-align: left;
    width: auto;
    font-family: SDS;
}

nav img {
    grid-area: a;
    width: 50px;
    margin: auto;
    padding: 12px 25px;
}

#button {
    grid: d;
    margin: auto;
    margin-right: 25px;
    display: inline-block;
    background-color: red;
    box-shadow: 0 5px 0 darkred;
    color: rgb(235, 235, 235);
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#button:hover {
    background-color: #ce0606;
}

#button:active {
    box-shadow: none;
    top: 5px;
}

#night_day {
    grid-area: c;
    margin: auto;
    margin-right: 24px;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

main {
    grid-area: b;
    font-family: SCD8;
    font-size: 24px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 5% 12%;
    word-break: keep-all;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a b"
        "a b"
        "a b"
        "a b"
        "c c";
}

main * {
    padding: 5%;
}

main img {
    display: block;
    padding: auto;
    height: 250px;
    margin: 0px auto;
    vertical-align: middle;
}

.a {
    background-color: rgb(235, 235, 235);
    display: inline-block;
}

.b {
    background-color: rgb(224, 015, 026);
    display: inline-block;
}

.vote {
    grid-area: c;
    background: rgb(128,128,128);
    padding-bottom: 0px;
}

p:hover,h2:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p, h2 {
    cursor:pointer;
}

.item p {
    background-color: rgb(235, 235, 235);
}

h2 {
    display: inline-block;
    background-color: yellow;
    padding: 7px;
    margin-bottom: 15px
}

#os-widget-2549642.os_poll {
    padding: 0px;
}
.os_widget_container.os_widget_container0 {
    padding: 0px;
    margin: 0px;
    width: 90%;
}
.os_poll {
    height: ;
}

@media (max-width: 1600px) {
    body * {
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }  
    
    main {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e"
            "f"
            "g"
            "h"
            "i";
    }
    
    .item3 {
        grid-area: d;
    }
    
    .item7 {
        grid-area: h;
    }
    
    .vote {
        grid-area: i;
    }
    
    .contents {
        grid-area: b;
        display: inline-block;
        height: 100%;
    }
    
    section img {
        height: 200px;
        padding: 0;
    }
}
@media (max-width: 767px) {
    
    nav h1 {
        display: none;
    }
    
    h2 {
        font-size: 20px;
        margin-bottom: 15px;
        margin-left: 0;
    }
    
    #button {
        font-size: 12px;
        padding: 7px;
    }
    
    p {
        font-size: 15px;
        padding-bottom: 5%;
    }
    
    #night_day {
        display: none;
    }
    
    section img {
        height: 100px;
    }
    
    main {
        margin: 0;
    }
    
    .vote > h2 {
        display: none;
    }
    .vote {
        padding: 0px;
    }
}